* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    padding: 24px 5%;
    background-color: #fffdf2;
    letter-spacing: 2px;
    font-size: 18px;
}
section {
    border: 2px solid black;
    border-radius: 6px;
    padding: 12px;
    margin: 24px 0;
    overflow: hidden;
    background-color: aliceblue;
}
.title {
    display: flex;
    justify-content: space-between;
    color: green;
    border-bottom: 2px solid black;
    padding-bottom: 12px;
    margin-bottom: 12px;
}
/* Practice Set 1 */
#box {
    background-color: blue;
    color: white;
    padding: 12px;
}
.heading {
    color: red;
}
#button {
    color: green;
    padding: 12px;
    font-size: 18px;
}
/* Practice Set 2 */
#ps2 h2 {
    text-align: center;
    text-transform: capitalize;
}
#ps2 {
    font-family: "Times New Roman", Times, serif;
}
#outer {
    font-size: 25px;
}
#inner {
    font-size: 10px;
}
/* Practice Set 3 */
.sqbox {
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
}
.tLight {
    width: 100px;
    background-color: black;
    padding: 16px 0;
    border-radius: 50px;
}
.tLight div {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin: 16px auto;
}
.tRed {
    background-color: red;
    opacity: 25%;
}
.tYellow {
    background-color: yellow;
    opacity: 25%;
}
.tGreen {
    background-color: green;
}
.navbar {
    background-color: #0f1111;
    height: 60px;
}
.navbar a {
    text-decoration: none;
    color: white;
    margin: 0 200px 0 12px;
}
.navbar .logo {
    color: #f08840;
    font-size: 25px;
}
.navbar input {
    font-size: 18px;
    padding: 2px;
}
.navbar button {
    background-color: #f08840;
    color: white;
    padding: 6px;
    border: none;
}
/* Practice Set 4 */
.container {
    height: 200px;
}
.container div {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
    margin: 12px;
}
.box1 {
    background-color: rgba(255, 0, 0, 0.5);
}
.box2 {
    background-color: rgba(0, 255, 0, 0.5);
}
.box3 {
    background-color: rgba(0, 0, 255, 0.5);
}
.ps4 footer {
    background-color: #0f1111;
    color: white;
    padding: 12px 0;
}
/* Practice Set 5 */
.overflow {
    height: 300px;
    overflow: auto;
    position: relative;
}
.overflow p {
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 50px;
    padding: 24px 0;
}
.overflow div {
    height: 150px;
    width: 150px;
    text-align: center;
    position: absolute;
    top: 100px;
    right: 0;
    background-image: url(img/img.jpg);
    background-size: cover;
    color: white;
}
/* Practice Set 6 */
.ps6Nav {
    background-color: slateblue;
    display: flex;
    justify-content: space-around;
}
.ps6Nav li {
    list-style-type: none;
}
.ps6Nav a {
    text-decoration: none;
    color: white;
    padding: 12px 36px;
    display: inline-block;
}
.ps6Nav a:hover {
    background-color: azure;
    color: slateblue;
}
.ps6Box {
    width: 100%;
    height: 400px;
    background-color: slateblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
.ps6Box div {
    width: 100px;
    height: 100px;
    background-color: white;
}
.ps6 p {
    text-align: center;
    background-color: slateblue;
    color: white;
    padding: 12px 0;
}
/* Practice Set 7 */
.media {
    display: flex;
    justify-content: center;
}
.media div {
    height: 100px;
    width: 100px;
    background-color: blue;
}
@media (max-width: 299px) {
    .media div {
        background-color: green;
    }
}
@media (min-width: 300px) and (max-width: 399px) {
    .media div {
        background-color: pink;
    }
}
@media (min-width: 400px) and (max-width: 599px) {
    .media div {
        background-color: red;
    }
}
/* PS8 */
.loader {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 7px solid black;
    border-right-color: transparent;
    margin: 50px auto;
    animation: myAni 2s linear 0s infinite normal;
}
@keyframes myAni {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/* Final Project */
.ps9 p {
    text-align: center;
    padding: 24px 0;
}
.ps9 a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    display: inline-block;
    padding: 24px;
    border: 2px solid black;
    border-radius: 4px;
    transition: all 1s;
}
.ps9 a:hover {
    background-color: black;
    color: white;
}
/* Footer */
span {
    color: green;
}
.footer a {
    color: black;
}
.footer p {
    padding: 6px 0;
}
footer > p {
    text-align: center;
}
