* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    padding: 24px 5%;
    background-color: #fffdf2;
    letter-spacing: 2px;
    font-size: 18px;
}
section {
    border: 2px solid black;
    border-radius: 6px;
    padding: 12px;
    margin: 24px 0;
    overflow: hidden;
    background-color: aliceblue;
}
hr {
    margin: 12px 0;
}
.lvl {
    text-align: center;
}
/* Practice Set 1 */
.title {
    color: green;
}
.title span {
    float: right;
}
#box {
    background-color: blue;
    color: white;
    padding: 12px;
}
.heading {
    color: red;
}
#button {
    color: green;
    padding: 12px;
    font-size: 18px;
}
/* Practice Set 2 */
#ps2 h2 {
    text-align: center;
    text-transform: capitalize;
}
#ps2 {
    font-family: 'Times New Roman', Times, serif;
}
#outer {
    font-size: 25px;
}
#inner {
    font-size: 10px;
}

/* Footer */
footer div {
    float: right;
}
span {
    color: green;
}
footer a {
    color: black;
}
footer section p {
    padding: 6px 0;
}
footer > p {
    text-align: center;
}