* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    padding: 24px 5%;
    background-color: #fffdf2;
    letter-spacing: 2px;
    font-size: 18px;
}
section {
    border: 2px solid black;
    border-radius: 6px;
    padding: 12px;
    margin: 24px 0;
    overflow: hidden;
    background-color: aliceblue;
}
hr {
    margin: 12px 0;
}
.lvl {
    text-align: center;
}
/* Practice Set 1 */
.title {
    color: green;
}
.title span {
    float: right;
}
#box {
    background-color: blue;
    color: white;
    padding: 12px;
}
.heading {
    color: red;
}
#button {
    color: green;
    padding: 12px;
    font-size: 18px;
}
/* Practice Set 2 */
#ps2 h2 {
    text-align: center;
    text-transform: capitalize;
}
#ps2 {
    font-family: 'Times New Roman', Times, serif;
}
#outer {
    font-size: 25px;
}
#inner {
    font-size: 10px;
}
/* Practice Set 3 */
.sqbox {
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
}
.tLight {
    width: 100px;
    background-color: black;
    padding: 16px 0;
    border-radius: 50px;
}
.tLight div {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin: 16px auto;
}
.tRed {
    background-color: red;
    opacity: 25%;
}
.tYellow {
    background-color: yellow;
    opacity: 25%;
}
.tGreen {
    background-color: green;
}
.navbar {
    background-color: #0f1111;
    height: 60px;
}
.navbar a {
    text-decoration: none;
    color: white;
    margin: 0 200px 0 12px;
}
.navbar .logo {
    color: #f08840;
    font-size: 25px;
}
.navbar input {
    font-size: 18px;
    padding: 2px;
}
.navbar button {
    background-color: #f08840;
    color: white;
    padding: 6px;
    border: none;
}
/* Practice Set 4 */
.container {
    height: 200px;
}
.container div {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
    margin: 12px;
}
.box1 {
    background-color: rgba(255, 0, 0, 0.5);
}
.box2 {
    background-color: rgba(0, 255, 0, 0.5);
}
.box3 {
    background-color: rgba(0, 0, 255, 0.5);
}
.ps4 footer {
    background-color: #0f1111;
    color: white;
    padding: 12px 0;
}
/* Practice Set 5 */
.overflow {
    height: 300px;
    overflow: auto;
    position: relative;
}
.overflow p {
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 50px;
    padding: 24px 0;
}
.overflow div {
    height: 150px;
    width: 150px;
    text-align: center;
    position: absolute;
    top: 100px;
    right: 0;
    background-image: url(img/img.jpg);
    background-size: cover;
    color: white;
}
/* Practice Set 6 */

/* Footer */
footer div {
    float: right;
}
span {
    color: green;
}
footer a {
    color: black;
}
footer section p {
    padding: 6px 0;
}
footer > p {
    text-align: center;
}